<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="\static\CSS\style.css" />
    <title> Запись пациента </title>

    {% macro render_table(dates, relation, ind, doctors, times) %}
    {% set n = relation|length %}
    <table>
        <!-- формируем заголовок таблицы (имена столбцов) -->
        <tr>
            <th></th>
            {% for i in range(len(dates)) %}
            <th>{{dates.loc[i, "date"]}}({{dates.loc[i, "weekday"]}})</th>
            {% endfor %}
        </tr>

        <tbody>
        <!-- для всех строк таблицы (времен) -->
        {% for j in range(times) %}
        <tr>
            <td>{{relation.iloc[j, 2]}}</td>
            <!-- выводим значение каждого столбца (дат) -->
            {% for i in range(len(dates)) %}
            {% if relation.iloc[(i*times)+j, 3] == 0 %}
            <td></td>
            {% else %}
            {% if (i*times)+j == ind %}
            <td class="mar2">
                <form action="{{url_for('index')}}" method ="get">
                {% for k in range(len(doctors)) %}
                    <input type="radio" name="doc_id" value={{doctors.iloc[k,0]}} checked="checked"/>{{doctors.iloc[k, 1]}}<br>
                {% endfor %}
                    <br>Ваш полис: <input type="text" name="number" size="10"><br>
                    <br><input type="submit" value="Записаться">
                </form>
            </td>
            {% else %}
            <td class="mar">
                <button class="button" name="watch" value={{(i*times)+j}}>
                    {{ relation.iloc[(i*times)+j, 3] }}
                    {% if relation.iloc[(i*times)+j, 3] == 1 %}
                    {% if menu_ind == '1' %} врач {% else %} запись {% endif %}
                    {% elif relation.iloc[(i*times)+j, 3] < 5 %}
                    {% if menu_ind == '1' %} врача {% else %} записи {% endif %}
                    {% else %}
                    {% if menu_ind == '1' %} врачей {% else %} записей {% endif %}
                    {% endif %}
                </button>
                {% endif %}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endmacro %}
    {% macro make_field() %}
        <!-- Создаем поле со списком -->
        <select name="specific">
            {% set n = len(combo_box) %}
            {% for i in range(n) %}
            {% if spec == combo_box.iloc[i,0] %}
            <option selected value={{combo_box.iloc[i,0]}}>
                {% else %}
            <option value={{combo_box.iloc[i,0]}}>
                {% endif %}
                {{ combo_box.iloc[i,0] }}
            </option>
            {% endfor %}
        </select>
    {% endmacro %}
</head>
<body>

<div class="block">
    <p>
    <form action="{{url_for('index')}}" method ="get"> Специализация:
    {{ make_field() }}
    <input type="submit" value="Выбрать">
</form>
    <p>
    <form action ="{{url_for('index')}}" method="get">
        Запись с: <input type="date" name="data" value={{data}}> на <input type="number" name="days" value={{days}} min="1" max="30"> дней
        <input type="submit" value="Показать">
    </form>
    <div class="menu">
        <form action ="{{url_for('index')}}" method="get">
        <ul>
            {% if menu_ind == '1' %}
            <li class ="active"><button class="unact" name="menu" value=1>Дни</button></a></li>
            <li><button class="unact" name="menu" value=2>Врачи</button></a></li>
            {% else %}
            <li><button class="unact" name="menu" value=1>Дни</button></a></li>
            <li class ="active"><button class="unact" name="menu" value=2>Врачи</button></a></li>
            {% endif %}

        </ul>
        </form>
    </div>

    </p>
    <form action="{{url_for('index')}}" method ="get">
        {{ render_table(dates, schedule, ind, doctors, times) }}
    </form>
    <p>
    </p>
</div>
</body>
</html>